.FilterBy {
    width: max(300px, 15vw);
    display: flex;
    flex-direction: column;
    position: relative;

    .FilterBy__first {
        width: max(300px, 15vw);
        height: max(74px, 3.7vw);
        border: 1px solid rgba(208, 208, 208, 1);
            transition: all 0.1s ease-in-out;
        background-color: #fff;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        padding: max(16px, 0.8vw);

        p {
            color: rgba(184, 184, 192, 1);
        }

        .FilterBy__filter {
            width: max(24px, 1.2vw);
            content: url('../../../assets/Guitars/Selection/filter.svg');
        }

         .FilterBy__arrow {
            width: max(23px, 1.15vw);
            content: url('../../../assets/Guitars/Selection/arrowdown.svg');
        }

        &:hover {
            border: 1px solid rgba(255, 108, 51, 1);
            transition: all 0.1s ease-in-out;

            p {
                color: rgba(255, 108, 51, 1);
            }

             .FilterBy__filter {
                content: url('../../../assets/Guitars/Selection/filterOrange.svg');
            }

            .FilterBy__arrow {
                width: max(18px, 0.9vw);
                content: url('../../../assets/Guitars/Selection/arrowdownOrange.svg');
            }


        }
    }   


    .FilterBy__results {
        width: 100%;
        border-radius: max(5px, 0.25vw);
        display: flex;
        flex-direction: column;
        background-color: #fff;

        border: 1px solid rgba(0,0,0, 0.1);
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;


        .FilterBy__result {
            color: rgba(146, 146, 163, 1);
            background-color: #fff;
                padding: max(16px, 0.8vw) max(16px, 0.8vw);
                cursor: pointer;

            &:hover {
                color: rgba(255, 140, 96, 1);
                background-color: rgba(255, 239, 233, 1);
            }
        }
    }


}


@media (max-width: 576px) {
    .FilterBy {
        width: max(150px, 10vw);

        .FilterBy__first {
            height: max(50px, 2.5vw);
            padding: max(5px, 0.25vw);

            .FilterBy__filter {
                scale: 0.6;
                display: none;
            }

            .cc28 {
                font-size: max(12px, 0.6vw);
            }

            .FilterBy__arrow {
                scale: 0.5;
            }
        }

        .FilterBy__results {
            .FilterBy__result {
                padding: max(16px, 0.8vw) max(5px, 0.25vw);
            }
            .cc26 {
                font-size: max(12px, 0.6vw);
            }
        }
    }
}