
.App {
    // max-width: 1440px;
    // margin: 0 auto;
    // border-left: 1px solid rgba(0,0,0, 0.2);
    // border-right: 1px solid rgba(0,0,0, 0.2);
}

@font-face {
    font-family: "s-bold";
    src: url('./fonts/Satoshi-Bold.woff');
}

@font-face {
    font-family: "s-medium";
    src: url('./fonts/Satoshi-Medium.woff');
}

@font-face {
    font-family: "s-regular";
    src: url('./fonts/Satoshi-Regular.woff');
}

@font-face {
    font-family: "s-light";
    src: url('./fonts/Satoshi-Light.woff');
}


@font-face {
    font-family: "cc-medium";
    src: url('./fonts/circular-std-medium-500.woff');
}

