* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.orangeFont{
    color: rgba(255, 100, 40, 1);
}

.satoshi56 {
    font-family: 's-bold';
    font-size: max(39.2px, 2.8vw);
    font-weight: 700;
}

.satoshi48 {
    font-family: 's-regular';
    font-size: max(33.6px, 2.4vw);
    font-weight: 400;
}

.satoshi44 {
    font-family: 's-bold';
    font-size: max(30.8px, 2.2vw);
    font-weight: 700;
}

.satoshi24medium {
    font-family: 's-medium';
    font-size: max(18px, 1.2vw);
    font-weight: 500;
}

.satoshi24regular {
    font-family: 's-regular';
    font-size: max(18px, 1.2vw);
    font-weight: 500;
}

.satoshi24light {
    font-family: 's-light';
    font-size: max(18px, 1.2vw);
    font-weight: 300;
}


.satoshi18 {
    font-family: 's-bold';
    font-size: max(14px, 0.9vw);
    font-weight: 700;
}

.satoshi16 {
    font-family: 's-medium';
    font-size: max(13px, 0.8vw);
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.satoshi16regular {
    font-family: 's-regular';
    font-size: max(13px, 0.8vw);
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.satoshi14 {
    font-family: 's-regular';
    font-size: max(12px, 0.75vw);
    font-weight: 400;
}

.cc16 {
    font-family: 'cc-medium';
    font-size: max(13px, 0.8vw);
    font-weight: 500;
}

.cc26 {
    font-family: 'cc-medium';
    font-size: max(18px, 1.3vw);
    font-weight: 450;
}

.cc28 {
    font-family: 'cc-medium';
    font-size: max(20px, 1.4vw);
    font-weight: 450;
}